
#react-app {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.row.border-between {
    margin:0;
}

.border-between,
.border-between > [class*='col-'] {
    height: 100%;
    padding: 0;
}

.border-between > [class*='col-']:before {
    background: #101010;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }

 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

 .list-group {
    margin: 0;
    padding: 10px;
    overflow-y: auto;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
